.layout {
  justify-content: center;
  align-items: center;
  > form {
    width: 30rem;
    max-width: calc(100vw - 4rem);

    padding: 1rem 1.4rem;
    border-radius: 0.5rem;
    background: #282a36;

    display: flex;
    flex-direction: column;
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }
}
