.layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
}

.content {
  max-width: 40rem;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.hero {
  > img {
    width: 50rem;
    max-width: calc(100vw - 10rem);
    filter: drop-shadow(2px 51px 71px #2d50aa);

    @media screen and (min-width: 90rem) {
      margin-top: 5rem;
    }

    @media screen and (max-width: 40rem) {
      display: none;
    }
  }
}

.buttons {
  display: flex;
  margin-right: -1rem;
  > button {
    flex: 1;
  }
}
