form.form {
  box-shadow: 2px 4px 9px 0px rgb(0 0 0 / 5%), 1px 6px 1rem 4px rgb(0 0 0 / 2%);
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 0.5rem;
  max-width: calc(100vw - 2rem);
  width: 30rem;
  display: flex;
  flex-direction: column;
  button {
    margin: 0;
    margin-top: 1rem;
  }
  label {
    margin-top: 1rem;
  }
}

.layout {
  justify-content: center;
  align-items: center;
  flex: 1;
}
