.select {
  background: linear-gradient(320deg, #aad0f8, #f4e6ff);
  color: black;
  border: none;
  border-radius: 1rem;
  padding: 0.4rem 0.5rem;
  border-radius: 0.6rem;
  box-shadow: 4px 5px 6px 0px rgb(0 0 0 / 9%), 0 0 2rem 4px rgb(0 0 0 / 7%);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  outline: none;
}
