.layout {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  flex: 1;
  display: flex;

  .children {
    margin-top: 1rem;
    display: flex;
  }
}

.sidebar {
  z-index: 1;
  box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.048),
    1px 6px 1rem 4px rgba(0, 0, 0, 0.199);
  width: 4.5rem;
  background: linear-gradient(166deg, #8e6fff, #054387);
  height: 100%;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.4rem;

  @media screen and (max-width: 90rem) {
    width: 100%;
    height: 4rem;
    flex-direction: row;
    padding-top: 0;
    padding-left: 0.4rem;
  }

  @media screen and (max-width: 40rem) {
    justify-content: space-between;
    padding: 0 0.6rem;
    height: 5rem;
  }

  .logo {
    height: 3.2rem;
    width: 3.2rem;

    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }

  .sidebarLink {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-size: 0.67rem;

    @media screen and (max-width: 90rem) {
      margin: 0 0.4rem;
    }

    &:not(:global(.__show_sm)) {
      @media screen and (max-width: 40rem) {
        display: none;
      }
    }

    text-align: center;
    text-decoration: none;

    opacity: 0.6;

    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: opacity;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    p {
      margin-top: 0.5rem;
      font-weight: 900;
    }

    > svg {
      height: 2rem;
      width: 2rem;
      color: white;
    }
  }

  .sidebarHr {
    background-color: white;
    margin: 0.5rem auto;
    width: 80%;
    height: 0.1rem;
  }

  .sidebarTop {
    @media screen and (max-width: 90rem) {
      flex-direction: row;
      margin-top: 0;
    }
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.main {
  position: relative;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  flex: 1;

  @media screen and (max-width: 90rem) {
    margin-top: 4rem;
    margin-left: 0rem;
    padding-bottom: 3rem;
  }

  @media screen and (max-width: 40rem) {
    margin-top: 5rem;
  }
}

.content {
}

.header {
  @media screen and (max-width: 90rem) {
    display: none;
  }

  display: flex;
  justify-content: end;
  align-items: center;

  h1 {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .logo {
    height: 2.6rem;
    width: 2.6rem;

    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}

.footer {
  opacity: 0.7;
  box-shadow: 2px 4px 9px 0px rgb(0 0 0 / 5%), 1px 6px 1rem 4px rgb(0 0 0 / 13%);
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff;
  border-top-left-radius: 1rem;
  padding: 0.4rem;
  padding-left: 1rem;
  a {
    color: black;
  }
}
