.layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
}

.content {
  max-width: 40rem;

  > h2 {
    font-size: 1.5rem;
  }

  background: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 2px 4px 9px 0px rgb(0 0 0 / 5%), 1px 6px 1rem 4px rgb(0 0 0 / 20%);
}

.methods {
  display: flex;
  flex-direction: column;
  > div {
    cursor: pointer;
    background: white;
    border: 3px solid #0c458d;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;

    transition: all 0.3s ease-in-out;
    box-shadow: 2px 4px 9px 0px rgb(0 0 0 / 31%), 0 0 2rem 4px rgb(0 0 0 / 7%);

    &:hover {
      box-shadow: 2px 4px 9px 0px rgb(0 0 0 / 11%),
        1px 6px 1rem 4px rgb(0 0 0 / 34%);
    }

    &.inactive {
      cursor: default;
      border: 3px solid rgb(53, 81, 116);
      background: rgb(230, 228, 228);
    }
  }
}
