.layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.content {
  max-width: 40rem;

  > h2 {
    font-size: 1.5rem;
  }
}

.methods {
  display: flex;
  flex-direction: column;
  > div {
    cursor: pointer;
    background: white;
    border: 3px solid #0c458d;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;

    &.inactive {
      cursor: default;
      border: 3px solid rgb(53, 81, 116);
      background: rgb(230, 228, 228);
    }
  }
}
