.layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.content {
  max-width: 40rem;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.hero {
  > img {
    margin-top: 5rem;
    max-width: 50rem;
  }
}

.buttons {
  display: flex;
  > button {
    flex: 1;
  }
}
